.profile_pic {

    padding-top: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.info {
    color: rgb(15, 98, 153);
    padding-top: 40px;
    text-align: center;
}

#personal_info {
    color: black;
    padding-top:10px;
    font-size: 20px;
}

.profiles {
    padding-top: 90px;
    text-align: center;
    
}

#icons {

    padding: 20px;
}
